<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add New Employe</h1>
                            </div>

                            <form class="user" method="post" action="/admin/addEmployee">
                                <div class="form-group row">
                                    <!-- name -->
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="Fullname"
                                            placeholder="Full name ..." name="Fullname"
                                            value="<%= typeof Fullname !='undefined'? Fullname : '' %>">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="CIN"
                                            placeholder="CIN ..." name="CIN"
                                            value="<%= typeof CIN !='undefined'? CIN : '' %>">
                                    </div>
                                </div>
                                <!-- dep -->
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="Department"
                                        name="Department"
                                        value="<%= typeof Department !='undefined'? Department : '' %>"
                                        placeholder="Department ...">
                                </div>
                                <!-- birthDate -->
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="date" class="form-control form-control-user" id="birthDate"
                                            name="birthDate"
                                            value="<%= typeof birthDate !='undefined'? birthDate : '' %>">
                                    </div>
                                    <!-- phone Number -->
                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control form-control-user" id="phoneNumber"
                                            name="phoneNumber"
                                            value="<%= typeof phoneNumber !='undefined'? phoneNumber : '' %>"
                                            placeholder="Tel ...">
                                    </div>
                                </div>


                                <!-- position -->
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="Position"
                                        placeholder="Position" name="Position"
                                        value="<%= typeof Position !='undefined'? Position : '' %>">
                                </div>

                                <!-- mail adress -->
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        name="Email" value="<%= typeof Email !='undefined'? Email : '' %>"
                                        placeholder="Email ...">
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <!-- salary -->
                                        <input type="string" class="form-control form-control-user"
                                            placeholder="Salary ..." name="Salary">
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- password -->
                                        <input type="password" class="form-control form-control-user"
                                            placeholder="Password ..." name="Password">
                                    </div>
                                </div>

                                <input type="submit" name="submit" value="Add"
                                    class="btn btn-primary btn-user btn-block" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>