<%- include('../partials/header') %>
    <br>
    <div class="container">
        <div class="d-flex gap-1">
            <h2>Departments</h2> <br>
            <a href="/Department/new">
                <button class="btn btn-outline-primary"><i class="fa-solid fa-building"></i></button>
            </a>
        </div>
        <%- include('../partials/messages') %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">H.O.D</th>
                        <th scole="col">Employees</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let dep of Department){ %>
                        <tr>
                            <td>
                                <%= dep.Name %>
                            </td>
                            <td>
                                <%= dep.HOD %>
                            </td>
                            <td class="text-nowrap">
                                <%= dep.Employees %>
                            </td>
                            <td>
                                <%= dep.Description %>
                            </td>
                            <td>
                                <div class="d-flex justify-content-start gap-1">
                                    <form action="/Department/<%= dep._id %>?_method=DELETE" method="post">
                                        <button class="btn btn-outline-danger"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </form>
                                    <a href="/Department/<%= dep._id %>/edit" class="btn btn-outline-success"><i
                                            class="fa-solid fa-wrench"></i></a>
                                    <a href="/Department/<%= dep._id %> " class="btn btn-outline-primary"><i
                                            class="fa-solid fa-eye"></i></a>
                                </div>

                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
    </div>
    <br>