<%- include('../partials/header') %> <br>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <form action="/Task/<%= Task._id %>?_method=PUT" method="post">
                                    <div class="e-profile">
                                        <div class="row">
                                            <small class="text-end text-danger">
                                                <% Task.assignerId %>
                                                    <br>
                                                    <span class="text-dark">
                                                        <%= moment(Task.assignDate,'YYYYMMDD').fromNow() %>
                                                    </span>
                                            </small>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                        </ul>
                                        <div class="tab-content pt-3">
                                            <div class="tab-pane active">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Employees</label>
                                                                    <input class="form-control" type="text" name="Title"
                                                                        name="assignedTo">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Start Date</label>
                                                                    <input type="date" name="startDate"
                                                                        class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Due Date</label>
                                                                    <input class="form-control" type="date"
                                                                        name="dueDate">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Status</label>
                                                                    <select name="Status" id="" class="form-select">
                                                                        <option value="" disabled selected>
                                                                            <%= Task.Status %>
                                                                        </option>
                                                                        <option value="Upcoming">Upcoming</option>
                                                                        <option value="In progress">In progress</option>
                                                                        <option value="Done">Done</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="input-group">
                                                                    <span class="input-group-text">Notes</span>
                                                                    <textarea class="form-control"
                                                                        aria-label="With textarea" name="Notes"
                                                                        value="<%= Task.Notes %> "></textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row my-5">
                                                            <div class="col d-flex justify-content-end">
                                                                <button type="submit"
                                                                    class="btn btn-outline-success">Save
                                                                    Changes</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>