<%- include('../partials/header') %>
    <br>

    <div class="container">
        <div class="d-flex gap-1">
            <h2>Taks</h2>
            <a href="/Task/new">
                <button class="btn btn-outline-primary"><i class="fa-solid fa-list-check"></i></button>
            </a>
        </div>
        <%- include('../partials/messages') %>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Assigner</th>
                        <th scope="col">Starts</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let Tsk of Task){ %>
                        <tr>
                            <td>
                                <%= Tsk._id %>
                            </td>

                            <td>
                                <% Tsk.assignerId %>
                            </td>

                            <td>
                                <%= moment(Tsk.startDate).format('LL') %>
                            </td>
                            <td>
                                <%= moment(Tsk.dueDate).format('LL') %>
                            </td>
                            <td>
                                <%= Tsk.Status %>
                            </td>

                            <td>
                                <div class="d-flex justify-content-start gap-1">
                                    <form action="/Task/<%= Tsk._id%>?_method=DELETE" method="post">
                                        <button class="btn btn-outline-danger"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </form>

                                    <a href="/Task/<%= Tsk._id %>/edit" class="btn btn-outline-success">
                                        <i class="fa-solid fa-wrench"></i> </a>

                                    <a href="/Task/<%= Tsk._id %>" class="btn btn-outline-primary"><i
                                            class="fa-solid fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

    </div>