<%- include('../partials/header') %>
    <br>
    <div class="container">
        <%- include('../partials/messages') %>
            <div class="row">
                <div class="col">
                    <b class="display-5">
                        <%= `This Project has been assined to ${Task.assignedTo} by ${Task.assignerId} ` %>
                    </b>
                </div>
                <div class="col">
                    <b>Assign Date:</b>
                    <%= moment(Task.assignDate).format('L') %> <br>

                        <b>startDate:</b>
                        <%= moment(Task.startDate).format('L') %> <br>

                            <b>dueDate:</b>
                            <%= moment(Task.dueDate).format('L')%> <br>

                                <b>Notes:</b>
                                <%= Task.Notes %> <br>

                                    <b>task Status :</b>
                                    <%= Task.taskStatus %> <br>



                </div>
            </div>
    </div>