<%- include('../partials/header') %>
    <br>

    <div class="container">
        <div class="d-flex gap-1">
            <h2>Employees</h2>
            <a href="/Employee/new">
                <button class="btn btn-outline-primary"><i class="fa-solid fa-person-circle-plus"></i></button>
            </a>
        </div>
        <%- include('../partials/messages') %>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Fullname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let Emp of Employee){ %>
                        <tr>
                            <td>
                                <%= `${Emp.Firstname} ${Emp.Lastname}` %>
                            </td>
                            <td>
                                <%= Emp.Email %>
                            </td>
                            <td>
                                <%= Emp.username %>
                            </td>
                            <td>
                                <%= Emp.userRole %>
                            </td>
                            <td>
                                <div class="d-flex justify-content-start gap-1">
                                    <form action="/Employee/<%= Emp._id%>?_method=DELETE" method="post">
                                        <button class="btn btn-outline-danger"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </form>
                                    <a href="/Employee/<%= Emp._id %>/edit" class="btn btn-outline-success"><i
                                            class="fa-solid fa-wrench"></i></a>
                                    <a href="/Employee/<%= Emp._id %> " class="btn btn-outline-primary"><i
                                            class="fa-solid fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

    </div>