<%- include('../partials/header') %>
    <br>
    <div class="container">
        <div class="d-flex gap-1">
            <h2>Leaves</h2>
            <a href="/Leave/new">
                <button class="btn btn-outline-primary"><i class="fa-solid fa-person-walking-arrow-right"></i></button>
            </a>
        </div>
        <%- include('../partials/messages') %>
            <br>
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th scope="col">Employee</th>
                        <th scope="col">Starts</th>
                        <th scope="col">Ends</th>
                        <th scope="col">submission</th>
                        <th scope="col">Status</th>
                        <th scope="col">Proof</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let Lv of Leave){ %>
                        <tr>
                            <td>
                                <% Lv.employeeId.forEach(e=> { %>
                                    <%= `${e.Firstname} ${e.Lastname}` %> <br>
                                        <% }); %>
                            </td>
                            <td>
                                <%= moment(Lv.startDate).format('L')%>
                            </td>
                            <td>
                                <%= moment(Lv.dueDate).format('L') %>
                            </td>
                            <td>
                                <%= moment(Lv.submissionDate).calendar() %>
                            </td>
                            <td>
                                <%= Lv.leaveStatus %>
                            </td>
                            <% if(typeof Lv.Proof !=='undefined' ) {%>
                                <td>
                                    <%= Lv.Proof %>
                                </td>
                                <% }else{ %>
                                    <td><small class="text-danger">No Proof uploaded</small></td>
                                    <% } %>
                                        <td>
                                            <div class="d-flex justify-content-start gap-1">
                                                <form action="/Leave/<%= Lv._id%>?_method=DELETE" method="post">
                                                    <button class="btn btn-outline-danger"><i
                                                            class="fa-solid fa-trash"></i></button>
                                                </form>
                                                <a href="/Leave/<%= Lv._id %>/edit" class="btn btn-outline-success"><i
                                                        class="fa-solid fa-wrench"></i></a>
                                            </div>
                                        </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

    </div>