<%- include('../partials/header') %>
    <div class="container ">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="text-danger border-bottom border-danger my-3"></h5>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Employee</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= Leave.employeeId %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Submission Date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= moment(Leave.submissionDate).format('LL') %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Starts</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= moment(Leave.startDate).format('LL') %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Due date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= Leave.dueDate %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Status</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= Leave.leaveStatus %>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>